<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Address Form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container mt-4">
  <form action="/meteo" method="post">
    <div class="mb-3">
      <label for="address" class="form-label">Please input your address:</label>
      <input name="address" id="address" class="form-control">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Get the weather at the given address!</button>
    </div>
  </form>
</div>
</body>
</html>
